<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/headerfooterLayout}">
<head>
    <meta charset="UTF-8">
    <title>board</title>
    <link rel="stylesheet" href="/css/board.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/board.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="boardContainer">
        <div class="row">
            <board>
                <input type="hidden" id="board-id" th:value="${board.id}">
                <header class="header">
                    <div class="time" th:text="|작성일 : ${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                    <!-- 이미지 추가 -->
                    <div th:each="image : ${board.images}">
                        <img th:src="@{|/images/cars/${image.imgName}|}" class="card_img" alt="차량 사진">
                    </div>
                </header>

                <div class="mainContent">
                    <p class="region" th:text="${board.region}"></p>
                    <p class="startDate" th:text="${board.startDate}"></p>
                    <p class="lastDate" th:text="${board.lastDate}"></p>
                    <p class="price" th:text="${board.price}"></p>

                    <p class="content" th:text="${board.content}"></p>
                </div>
                    <button type="button" id="modify-btn" th:onclick="|location.href='@{/boards/post?id={boardId}(boardId=${board.id})}'|" class="updateBtn">수정</button>

                <form th:action="@{/reservation}" role="form" method="post" th:object="${Reservation}">
                        <input type="hidden" name="owning_email" id="owning_email" th:name="owning_email" th:value="${board.member_email}">

                        <label th:for="startDate">시작 날짜:</label>
                        <input type="date" name="startDate" id="startDate" th:field="*{startDate}" required>

                        <label th:for="lastDate">종료 날짜:</label>
                        <input type="date" name="lastDate" id="lastDate" th:field="*{lastDate}" required>

                        <button type="submit"  id="reservation-btn" class="reservationBtn">예약</button>

                    </form>
                    <button type="submit" id="delete-btn" class="deleteBtn">삭제</button>

            </board>
        </div>
    </div>
</div>

</body>
</html>
