<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--footer 영역입니다.-->
<div th:fragment="footer" style="background-color: #f0f0f0; padding: 20px; text-align: center;">
    <img src="C:\workspace\GoShare\src\main\resources\static\images\GoShare로고.png" alt="로고" style="width: 120px; height: 50px;">
    <p style="margin: 0; font-size: 15px;">Developers : 김영관, 조유정</p>
    <p style="margin: 0; font-size: 15px;">Address : 서울특별시 성북구 서경로 124, 북악관 2층 211호</p>
    <a href="https://flossy-seeker-98c.notion.site/dfbd50783b33461e849421ba1425f076?pvs=4" target="_blank">
        <img src="C:\workspace\GoShare\src\main\resources\static\images\notion.png" alt="회사 소개(노션)" style="width: 50px; height: 50px;">
    </a>
    <p style="margin: 0; font-size: 12px;">© 2024 GoShare coperation. All right reserved.</p>
</div>

</html>