* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: pretendard, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto; /* 콘텐츠 영역에 수직 스크롤을 추가합니다. */
}

div.postIntro {
    display: flex;
    flex-direction: row; /* row로 변경하여 이미지와 정보를 나란히 배치 */
    align-items: flex-start;
    text-align: left; /* 왼쪽 정렬 */
    padding: 10px;
}

.postIntro .time {
    margin-bottom: 10px;
    font-size: 12px;
    color: #666;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

span {
    font-weight: bold;
}

.leftColumn {
    flex: 1;
}

.rightColumn {
    flex: 2;
    padding-left: 20px;
    padding-top: 80px;
    align-items: center;
}

.reservationContent{
    padding-top: 30px;
}

.card_img {
    width: 400px;
    padding-top: 80px;
    height: auto;
    margin-bottom: 10px;
}

.car_name, .car_type, .car_model {
    margin: 5px 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    text-align: left; /* 왼쪽 정렬 */
    padding: 10px;
}

.region, .startDate, .lastDate, .price, .content {
    margin: 5px 0;
}

.region {
    padding-bottom: 5px;
}

button, label, input[type="date"] {
    margin: 10px 0;
}

.updateBtn, .reservationBtn, .deleteBtn {
    width: 100px; /* 버튼 너비 확장 */
    padding: 10px;
    margin: 5px;
    background-color: #0066ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.updateBtn:hover, .reservationBtn:hover, .deleteBtn:hover {
    background-color: #004aad;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* 버튼 상단에 여백 추가 */
}

button {
    margin: 0 10px; /* 버튼 간의 좌우 여백 추가 */
}