<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/footerLayout}">
<head>
    <title>GoShare</title>
    <link rel="stylesheet" href="/css/intro.css">
</head>
<body>
<div layout:fragment="content">
    <div class="intro_container">
        <!--        첫화면 구현-->
        <!--        첫화면 이미지 삽입-->
        <div class="intro_image">
            <img src="/images/GoShare_main.jpg" alt="GoShare">
        </div>
        <!--        GoShare에 대한 설명 글 추가-->
        <div class="GoShare_text">
            <h1>GoShare</h1>
            <p>간편하게 차량을 공유하세요</p>
        </div>
        <div class="button_container">
            <!--        로그인 하기 버튼 삽입-->
            <div class="loginbutton" sec:authorize="isAnonymous()">
                <a href="/members/login">로그인 하기</a>
            </div>
            <!--        자동차 구경하기 버튼 삽입-->
            <div class="justlookbutton">
                <a href="/board">차 둘러보기</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>