<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>면허증 확인</title>
</head>
<body>
<h1>면허증 확인</h1>
<form th:action="@{/member/License}" th:object="${ApiDto}" method="post">
    <label for="loginUserName">성명:</label>
    <input type="text" id="loginUserName" name="loginUserName" th:field="*{loginUserName}" required>
    <br>

    <label for="identity">주민등록번호:</label>
    <input type="text" id="identity" name="identity" th:field="*{identity}" required>
    <br>

    <label for="phoneNo">전화번호:</label>
    <input type="text" id="phoneNo" name="phoneNo" th:field="*{phoneNo}" required>
    <br>

    <label for="birthDate">생년월일:</label>
    <input type="text" id="birthDate" name="birthDate" th:field="*{birthDate}" required>
    <br>

    <label for="LicenseNo01">면허증1:</label>
    <input type="text" id="LicenseNo01" name="LicenseNo01" th:field="*{licenseNo01}" required>
    <br>

    <label for="LicenseNo02">면허증2:</label>
    <input type="text" id="LicenseNo02" name="LicenseNo02" th:field="*{licenseNo02}" required>
    <br>

    <label for="LicenseNo03">면허증3:</label>
    <input type="text" id="LicenseNo03" name="LicenseNo03" th:field="*{licenseNo03}" required>
    <br>

    <label for="LicenseNo04">면허증4:</label>
    <input type="text" id="LicenseNo04" name="LicenseNo04" th:field="*{licenseNo04}" required>
    <br>

    <label for="serialNo">일련번호:</label>
    <input type="text" id="serialNo" name="serialNo" th:field="*{serialNo}" required>
    <br>

    <button type="submit">검증</button>
</form>
</body>
</html>
